 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a routerLink="/course-list" class="navbar-brand">
      <img src="EduPathLogoCropped.webp" alt="EduPathLogo" id="logo">
      EduPath</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-primary" style="background-color: #2E7D32; border-color: #2E7D32;" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="form-container">
    <h1>Add New Course</h1>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
        <div *ngIf="courseForm.get('name')?.invalid && courseForm.get('name')?.touched">
          <small *ngIf="courseForm.get('name')?.errors?.['required']">Name is required.</small>
          <small *ngIf="courseForm.get('name')?.errors?.['maxlength']">Name must not exceed 200 characters.</small>
        </div>
      </div>

      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" />
        <div *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched">
          <small *ngIf="courseForm.get('description')?.errors?.['required']">Description is required.</small>
          <small *ngIf="courseForm.get('description')?.errors?.['maxlength']">Description must not exceed 1000 characters.</small>
        </div>
      </div>

      <div class="create-button-container">
        <button type="submit" [disabled]="courseForm.invalid">Add</button>
      </div>
    </form>
</div>

<!-- Footer -->
<footer class="footer bg-light text-center py-3 mt-5">
  <p>© 2025 EduPath. All rights reserved.</p>
</footer>
