 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a routerLink="/course-list" class="navbar-brand">
      <img src="EduPathLogoCropped.webp" alt="EduPathLogo" id="logo">
      EduPath</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-primary" style="background-color: #2E7D32; border-color: #2E7D32;" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="course-list">
  <h1>Course List</h1>
  <div class="header">
    <button class="create-btn" (click)="onCreate()">Create Course</button>
  </div>
  <div class="header-controls">
    <div class="pagination-controls">
      <label for="pageNumber">Page Number:</label>
      <input type="number" id="pageNumber" [(ngModel)]="pageNumber" (change)="onPageChange(pageNumber)" min="1" [max]="getTotalPages()">
      <label for="pageSize">Page Size:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Name
          <input type="text" [(ngModel)]="filters.name" (input)="applyFilters()" placeholder="Search by name">
        </th>
        <th>
          Description
          <input type="text" [(ngModel)]="filters.description" (input)="applyFilters()" placeholder="Search by description">
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of filteredCourses">
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>
          <div class="actions">
            <button (click)="onGetInfo(course)">
              <i class="fa fa-info-circle"></i>
            </button>
            <button (click)="onDelete(course)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button class="pagination-btn"
            (click)="onPageChange(pageNumber - 1)"
            [disabled]="pageNumber === 1">
      &larr; Previous
    </button>
    <span>Page {{ pageNumber }} of {{ getTotalPages() }}</span>
    <button class="pagination-btn"
            (click)="onPageChange(pageNumber + 1)"
            [disabled]="pageNumber >= getTotalPages()">
      Next &rarr;
    </button>
  </div>
</div>

<!-- Footer -->
<footer class="footer bg-light text-center py-3 mt-5">
  <p>© 2025 EduPath. All rights reserved.</p>
</footer>
