:host {
  background-image: url('/bkg.webp');
  background-size: cover;
  display: block;
}

#logo {
  height: 40px;
  margin-right: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-bottom: 1px solid #ddd;
}

.btn-primary:hover {
  background-color: #307242;
  transform: translateY(-2px);
}

.predictions {
  background-image: url('/ML-icon.png');
  background-size: cover;
  display: block;
  height: 2.5em;
  width: 2.5em;
  border-radius: 10px;
  border-color: #2E7D32;
  margin-right: 0.5em;
}

.predictions:hover {
  background-color: #2E7D32;
  border-color: #2E7D32;
  transform: translateY(-2px);
}

.profile-section {
  margin-top: 2em;
  padding: 4rem;
}

.card-body {
  line-height: 2;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-text {
  font-size: 1.2em;
}

.img-fluid {
  max-width: 20rem;
  margin-top: 1.5rem;
}

.card-update {
  display: flex;
}

.btn-outline-secondary {
  background-image: url('/edit-icon.png');
  background-size: cover;
  margin-left: 1em;
  width: 2rem;
  height: 2rem;
  border: none;
}

.btn-outline-secondary:hover {
  background-color: white;
  transform: translateY(-2px);
}
  